<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%
      @name_mailed = @user.name.scan(/(?:[-a-z_\d])+@(?:[-a-z])*(?:\.[a-z]{2,4})+/)
      if (@name_mailed.length == 0)
    %>
    <h1>Welcome to sampleTicket, <%= @user.name %></h1>
    <p>
      Your ticket was updated!<br>
    </p>
    <p>
      To view this ticket, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <% else %> 
      <h1>Welcome to sampleTicket!</h1>
    <p>
    <p>
      Your ticket was updated!<br>
    </p>
      When You created this ticket and defined Your E-Mail as <%= @name_mailed %>,
      You had temporary signed up to sampleTicket,<br>
      your temporary username is: <%= @user.name %>.<br>
      with password: <%=@user.password %>
    </p>
    <p>
      To view status of Your ticket, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <% end %>
  </body>
</html>