<div class="page-header">
    <%= bootstrap_icon_link_to 'New Widget', new_widget_path, "icon-plus icon-white", :class => "button btn btn-success  right" %>
</div>

<%= show_flash %>

<fieldset>
    <legend>List of Widgets</legend>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Name
                    <% if current_user.is_moderator || current_user.is_admin %>
          <div class="label-info inline right">
              <input id="template_display_chooser" type="checkbox" value="1">
              <label class="label label-info">display templates?</label>
          </div>
        <% end %>
        </th>
        <th>Rules</th>
        <th></th>
        <th></th>
        </tr>
        </thead>
        <tbody>
            <% @widgets.each do |widget| %>
              <tr
                  <% if widget.is_template %>
                  class = "template_field template_off"
                  <% end %>
                  >
                  <td><%= link_to widget.name, widget %></td>
                  <td><%= widget.widget_rules.count %></td>
                  <td>
                      <% if widget.is_template %>
                        <span class="label label-info">template</span>
                      <% end %>
                      <% if widget.is_moderable %>
                        <span class="label label-info">moderable</span>
                      <% end %>
                      <% if widget.is_admited %>
                        <span class="label label-info">admited</span>
                      <% end %>
                  </td>
                  <td>
                      <%= bootstrap_icon_link_to 'Show', widget, "icon-show icon-white", method: :get, :class => "button btn btn-small btn-primary" %>
                      <%= bootstrap_icon_link_to 'Edit', edit_widget_path(widget), "icon-pencil icon-white", :class => "button btn btn-small btn-primary" %>
                      <%= bootstrap_icon_link_to 'Delete', widget, "icon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger" %>
                  </td>
              </tr>
            <% end %>
        </tbody>
    </table>
</fieldset>